body {
  // Height of the top menu bar
  padding-top: 100px;
  height: 100vh;
}

body.admin-bar .navbar {
  top: 32px
}

.main {
  .page-header {
    margin: 0 0 $line-height-computed;
    h1 {
      margin-top: 0px;
    }
  }
}

.main img,
.sidebar img {
  max-width: 100%;
  height: auto;
  border: 2px solid transparent;
  transition : border-color 0.5s ease;
  &:hover {
    border-color: $gray;
  }
}