// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//== Typography
$font-family-sans-serif:  'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif !default;
$font-family-serif:       'Vollkorn', Georgia, "Times New Roman", Times, serif !default;

$font-family-base:        $font-family-serif !default;

$headings-font-family:    $font-family-sans-serif !default;
$headings-font-weight:    400 !default;
$headings-color:          $gray !default;