footer.content-info {
  background-color: $gray-lighter;
  margin-top: 50px;
  section.widget {
    @include make-sm-column($sidebar-sm-columns);
  }
  .row:last-child {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}