.banner {
  .navbar-default {
    transition: background-color 0.5s ease;
    &.transparent {
      .navbar-nav > .active > a,
      .navbar-nav > .active > a:focus,
      .navbar-nav > .active > a:hover {
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: 2px solid $gray-light;
        color: #ffffff;
      }
      @media screen and (min-width: $screen-md-min) {
        background-color: inherit;
        border-color: transparent;
      }
      @media screen and (min-width: $screen-md-min) {
        background-color: rgba(0, 0, 0, 0.2);
        .navbar-brand {
          color: #ffffff;
        }
        .navbar-nav > li > a {
          color: #ffffff;
          border-bottom: 2px solid transparent;
          &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            border-bottom: 2px solid $gray-light;
          }
        }
      }
    }
  }
  .navbar-header {
    position: relative;
    img.logo {
      position: absolute;
      width: 45px;
      left: -55px;
    }
    .navbar-brand {
      margin-right: 50px;
    }
  }
  .navbar-nav {
    font-family: $font-family-sans-serif;
  }
}