.home {
  padding-top: 0;
  .fl-builder-content {
    .fl-row:nth-child(odd) {
      background-color: #ffffff;
    }
    .fl-row:nth-child(even) {
      background-color: $gray-lighter;
    }
    .fl-row:first-child {
      height: 100vh;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  /* Homepage Title Text */
  .intro {
    background-color: rgba(255,255,255,0.7);
    margin: 0 -15px;
    padding: 15px;
    font-family: $font-family-sans-serif;
    h1 {
      color: $gray;
      font-size: 28px;
      font-family: $font-family-serif;
    }
  }
  @media (min-width: $screen-sm-min) {
    .intro {
      display: inline-block;
    }
  }
  @media (min-width: $screen-md-min) {

  }
  @media (min-width: $screen-lg-min) {
    .intro {
      padding: 0 30px;
      font-size: 1.6em;
      h1 {
        font-size: 2em;
      }
    }
  }


  /* Homepage footer */
  footer.content-info {
    /*position:fixed;
    z-index:70;
    bottom:0;
    width:100%;*/
    margin-top: 0;
    border-top: 1px solid $gray;
    .row:last-child {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

/* Homepage background video */
/* Set background on mobile first */
@media screen and (max-width: $screen-md-min) {
  .home {
    background: url('../images/bg_home_mobile.png') no-repeat fixed center center;
    background-size: cover;
  }
  video#bgvid { display: none; }
}

@media (min-width: $screen-sm-min) {
  .home {
    /*background: url('../images/bg_home.png') no-repeat fixed center center;*/
    background-size: cover;
  }
  video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}