.categories, .tags {
  display: block;
  margin-bottom: 5px;
}

.hentry {
  margin-bottom: 40px;
  header {
    h2 {
      margin-top: 0;
    }
  }
  footer {
    color: $gray-light;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid $gray-lighter;
    .categories a,
    .tags a {
      background-color: $gray-light;
      color: #ffffff;
      padding: 0 4px;
      display: inline-block;
    }
  }
}

.posts-navigation {
  margin: 60px 0;
  text-align: center;
  @include clearfix;
  .nav-links {
    div {
      display: inline;
      > a,
      > span {
        display: inline-block;
        padding: 5px 14px;
        background-color: $pager-bg;
        border: 1px solid $pager-border;
        border-radius: $pager-border-radius;
      }

      > a:hover,
      > a:focus {
        text-decoration: none;
        background-color: $pager-hover-bg;
      }
    }

    .nav-next {
      > a,
      > span {
        float: right;
      }
    }

    .nav-previous {
      > a,
      > span {
        float: left;
      }
    }
  }
}