.sidebar .widget {
  margin-bottom: 40px;
  header {
    > h3 {
      overflow: hidden;
      text-align: center;
      text-transform: uppercase;
      > span {
        position: relative;
        $linesHeight: 7px;
        &:before,
        &:after {
          content: "";
          position: absolute;
          border-top: 2px solid $gray-light;
          border-bottom: 2px solid $gray-light;
          width: 100%;
          height: $linesHeight;
          top: 50%;
          margin-top: floor(-$linesHeight / 2);
        }
        &:before {
          right: 100%;
          margin-right: 10px;
        }
        &:after {
          left: 100%;
          margin-left: 10px;
        }
      }
    }
  }
  ul {
    li {
      padding: 2px 4px;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $gray-lighter;
      }
      & > a {
        display: block;
        text-decoration: none;
      }
    }
    @include list-unstyled;
    &.really_simple_twitter_widget {
      li {
        padding: 4px 8px;
        border: 1px solid $gray-lighter;
        border-left: 5px solid $gray-light;
        margin-bottom: 10px;
        border-radius: $panel-border-radius;
        a {
          display: inline;
        }
        .twitter-timestamp {
          display: block;
        }
      }
    }
  }
}